.home-about {
 padding: 118px 0 75px;
 @include mobile {
  padding: 120px 0 0;
 }

 .home-about__title {
  padding-left: 83px;
  @include tablet {
   padding-left: 70px;
  }
  @include mobile {
   padding: 0;
  }
 }
}

.home-about-list {
 display: flex;
 flex-wrap: wrap;
 border-top: 1px solid #f2f2f2;
 margin-top: 60px;
 @include tablet {
  margin-left: 30px;
 }
 @include mobile {
  flex-direction: column;
 }
}

.home-about-item {
 width: 50%;
 border-bottom: 1px solid #f2f2f2;
 padding: 48px 83px 26px;
 @include tablet {
  padding: 48px 40px 26px;
 }
 @include mobile {
  padding: 45px 0 30px;
 }
 @include mobile {
  width: 100%;
 }
 &:nth-child(odd) {
  border-right: 1px solid #f2f2f2;
  @include mobile {
   border-right: 0;
  }
 }

 .home-about-item__title {
  color: #2f261d;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.48px;
 }
 .home-about-item__text {
  color: #104982;
  font-size: 18px;
  font-weight: 300;
  margin-top: 24px;
  @include mobile {
   line-height: 20px;
  }
 }
}