.home-portfolio {

 .main-content {
  padding: 110px 0 100px 83px;
  @include tablet {
   padding-left: 70px;
  }
  @include mobile {
   padding: 110px 15px 100px;
  }
 }

 .home-portfolio__more {
  margin-top: 100px;
  @include mobile {
   width: 260px;
   display: block;
   margin: 55px auto 0;
  }
 }
}

.home-portfolio-list {
 padding-left: 60px;
 margin-top: 100px;
 @include tablet {
  padding-left: 0;
 }
 @include mobile {
  padding: 0;
  margin-top: 70px;
 }
}

.home-portfolio-item {
 display: flex;
 align-items: flex-start;
 margin-bottom: 60px;
 position: relative;
 cursor: pointer;
 @include mobile {
  flex-direction: column;
  margin-bottom: 20px;
 }
 &:hover {

  .home-portfolio-item__title {
   color: #426bbb;
  }
  .home-portfolio-item__image {
   opacity: 1;
  }
 }
 &:last-child {
  margin-bottom: 0;
 }

 .home-portfolio-item__number {
  width: 40px;
  color: #4069be;
  font-size: 14px;
  font-weight: 300;
  padding-top: 8px;
  @include mobile {
   width: 100%;
   padding-top: 0;
  }
 }

 .home-portfolio-item__content {
  flex: 1;
  position: relative;
  z-index: 2;
 }

 .home-portfolio-item__title {
  color: #2f261d;
  font-size: 42px;
  font-weight: 600;
  letter-spacing: -1.26px;
  transition: 0.7s;
  cursor: pointer;
  @include mobile {
   font-size: 30px;
   line-height: 32px;
   letter-spacing: -0.9px;
   margin-top: 15px;
  }
  //&:hover {
  // color: #426bbb;
  //}
 }

 .home-portfolio-item__tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  @include mobile {
   margin-top: 30px;
  }
  &:before {
   content: '/';
   margin-right: 10px;
  }
 }

 .home-portfolio-item__tags:before, .home-portfolio-item__tag {
  color: #426bbb;
  font-size: 18px;
  font-weight: 300;

 }

 .home-portfolio-item__tag {
  margin: 0 20px 5px 0;
  cursor: pointer;
  &:hover {
   text-decoration: underline;
  }
  &:last-child {
   margin-right: 0;
  }
 }

 .home-portfolio-item__image {
  width: 343px;
  height: 261px;
  background: no-repeat center / contain;
  position: absolute;
  top: calc(50% - 130px);
  left: 440px;
  opacity: 0;
  transition: 1s;
  @include mobile {
   display: none;
  }
 }
}