.home-team {

 .main-content {
  background-color: #f0f2ff;
  padding: 110px 83px 100px;
  @include tablet {
   padding: 110px 40px 100px 70px;
  }
  @include mobile {
   padding: 110px 15px;
  }
 }

 .home-team__more {
  margin-top: 65px;
  @include mobile {
   width: 260px;
   display: block;
   margin: 65px auto 0;
  }
 }
}

.home-team-list {
 @extend .hidden-scroll;
 display: flex;
 margin-top: 60px;
 overflow-x: auto;
 @include tablet {
  width: 624px;
 }
 @include mobile {
  width: 290px;
 }
}

.home-team-item {
 width: 155px;
 margin-right: 80px;
 @include mobile {
  margin-right: 60px;
 }
 &:last-child {
  margin-right: 0;
 }

 .home-team-item__thumb {
  width: 155px;
  height: 190px;
  background: no-repeat center / cover;
 }

 .home-team-item__name {
  color: #2f261d;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -0.44px;
  margin-top: 30px;
 }
 .home-team-item__position {
  color: #4069be;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-top: 7px;
 }
}
