.fixed-aside.fixed-aside--scroll
  button(onclick="showPopup('#popup-brief')").message-us.popup-link
  button(onclick="showPopup('#popup-brief')").popup-link.discuss-order
    .discuss-order__text обсудить проект
