footer.main-footer.section
  .main-content
    .main-footer-block-1
      h2.main-footer-title представительства
      ul.main-footer-offices
        li.main-footer-offices__item
          p Австралия, Сидней:
          a(href="tel:1300030348").main-footer-title 1 300 03-03-48
        li.main-footer-offices__item
          p Казахстан, Алмата:
          a(href="tel:+77273122634").main-footer-title +7 727 312-26-34
        li.main-footer-offices__item
          p США, Вашингтон:
          a(href="tel:2143066572").main-footer-title 214 306-65-72

    .main-footer-block-2
      .main-footer-block-2__top
        .main-footer-list-block
          h2.main-footer-list-title.main-footer-title Меню
          .main-footer-list-layout
            .main-footer-list
              a(href="#").main-footer-list__item О компании
              a(href="#").main-footer-list__item Услуги
              a(href="#").main-footer-list__item Портфолио
              a(href="#").main-footer-list__item Блог
            .main-footer-list
              a(href="#").main-footer-list__item Вакансии
              a(href="#").main-footer-list__item Контакты
        .main-footer-list-block
          h2.main-footer-list-title.main-footer-title услуги
          .main-footer-list-layout
            .main-footer-list
              a(href="#").main-footer-list__item Разработка сайта
              a(href="#").main-footer-list__item Продвижение сайта
              a(href="#").main-footer-list__item Контекстная реклама
              a(href="#").main-footer-list__item SMM
            .main-footer-list
              a(href="#").main-footer-list__item Реклама в соцсетях
              a(href="#").main-footer-list__item Маркетинг аудит и консалтинг
              a(href="#").main-footer-list__item Комплексный маркетинг
              a(href="#").main-footer-list__item Техническая поддержка

      .main-footer-block-2__bottom
        .socials
          a(href="#" style="background-image: url(img/common/fb-icon.svg)").socials__item
        p.main-footer-copy © 2018 LuxSite All rights reserved.

include fixed-aside.jade
include popups/popup-development.jade
include scripts.jade
