header.main-header-layout.section
  .main-content
    .main-header
      .main-header-row.main-header-row-1
        a(href="#").main-header-row-1__logo.logo
        .main-header-row-1__langs
          a(href="#").main-header-row-1__lang.main-header-row-1__lang--active ru
          a(href="#").main-header-row-1__lang en
        a(href="tel:+38(044)3039828").main-header-row-1__phone +38 (044) 303 98 28
        button.main-header-submit.btn ОСтавить заявку

      .main-header-row.main-header-row-2
        .main-header-menu-1
          a(href="#about").main-header-menu-1__item.link-smooth о компании
          a(href="#services").main-header-menu-1__item.link-smooth услуги
          a(href="#portfolio").main-header-menu-1__item.link-smooth портфолио
          a(href="#blog").main-header-menu-1__item.link-smooth блог
          a(href="#team").main-header-menu-1__item.link-smooth Вакансии
          a(href="#contacts").main-header-menu-1__item.link-smooth контакты
        button.main-header-submit.btn ОСтавить заявку

      .main-header-row.main-header-row-3
        .main-header-menu-2
          .main-header-menu-2__item
            a(href="#") Разработка сайта
          .main-header-menu-2__item
            a(href="#") Продвижение сайта
          .main-header-menu-2__item
            a(href="#") Контекстная реклама
          .main-header-menu-2__item
            a(href="#") Техподдержка
          .main-header-menu-2__item.main-header-menu-2__item--submenu
            a(href="#") Интернет маркетинг
            .main-header-menu-2-submenu
              a(href="#").main-header-menu-2-submenu__item Маркетолог
              a(href="#").main-header-menu-2-submenu__item Аудит
              a(href="#").main-header-menu-2-submenu__item SMM
              a(href="#").main-header-menu-2-submenu__item Аналитика
              a(href="#").main-header-menu-2-submenu__item SERM

      .header-burger
        .header-burger__item
        .header-burger__item

script.
  $(function(){
    $('.header-burger').click(function(){
      $(this).toggleClass('header-burger--active');
      $(this).closest('.main-header-layout').toggleClass('main-header-layout--active');
    });
  });