header.main-header-layout.section
  .main-content
    .main-header
      .main-header-row.main-header-row-1
        a(href="#").main-header-row-1__logo.logo
        .main-header-row-1__langs
          a(href="#").main-header-row-1__lang.main-header-row-1__lang--active ru
          a(href="#").main-header-row-1__lang en
        a(href="tel:+38(044)3039828").main-header-row-1__phone +38 (044) 303 98 28

      .main-header-row.main-header-row-2
        .main-header-menu-1
          a(href="#").main-header-menu-1__item о компании
          a(href="#").main-header-menu-1__item услуги
          a(href="#").main-header-menu-1__item портфолио
          a(href="#").main-header-menu-1__item блог
          a(href="#").main-header-menu-1__item Вакансии
          a(href="#").main-header-menu-1__item контакты
        button.main-header-submit.btn ОСтавить заявку

      .main-header-row.main-header-row-3
        .main-header-menu-2
          .main-header-menu-2__item
            a(href="#") Разработка сайта
          .main-header-menu-2__item
            a(href="#") Продвижение сайта
          .main-header-menu-2__item
            a(href="#") Контекстная реклама
          .main-header-menu-2__item
            a(href="#") Техподдержка
          .main-header-menu-2__item.main-header-menu-2__item--submenu
            a(href="#") Интернет маркетинг
            .main-header-menu-2-submenu
              a(href="#").main-header-menu-2-submenu__item Маркетолог
              a(href="#").main-header-menu-2-submenu__item Аудит
              a(href="#").main-header-menu-2-submenu__item SMM
              a(href="#").main-header-menu-2-submenu__item Аналитика
              a(href="#").main-header-menu-2-submenu__item SERM
