header.main-header-layout.section
  .main-content
    .main-header
      .main-header-row.main-header-row-1
        a(href="#").main-header-row-1__logo.logo
        .main-header-row-1__langs
          a(href="#").main-header-row-1__lang.main-header-row-1__lang--active ru
          a(href="#").main-header-row-1__lang en
        a(href="tel:+38(044)3039828").main-header-row-1__phone +38 (044) 303 98 28
        button(onclick="showPopup('#popup-brief')").popup-link.main-header-submit.btn ОСтавить заявку

      .main-header-row.main-header-row-2
        .main-header-menu-1
          a(href="#about").main-header-menu-1__item.link-smooth о компании
          a(href="#services").main-header-menu-1__item.link-smooth услуги
          a(href="#portfolio").main-header-menu-1__item.link-smooth портфолио
          a(href="#blog").main-header-menu-1__item.link-smooth блог
          a(href="#team").main-header-menu-1__item.link-smooth Вакансии
          a(href="#contacts").main-header-menu-1__item.link-smooth контакты
        button(onclick="showPopup('#popup-brief')").popup-link.main-header-submit.btn ОСтавить заявку

      .main-header-row.main-header-row-3
        .main-header-menu-2
          .main-header-menu-2__item
            a(href="#").main-header-menu-2__item-link Разработка сайта
          .main-header-menu-2__item
            a(href="#").main-header-menu-2__item-link Продвижение сайта
          .main-header-menu-2__item
            a(href="#").main-header-menu-2__item-link Контекстная реклама
          .main-header-menu-2__item
            a(href="#").main-header-menu-2__item-link Техподдержка
          .main-header-menu-2__item.main-header-menu-2__item--submenu
            .main-header-menu-2__item-link Интернет маркетинг
            .main-header-menu-2-submenu
              a(href="#").main-header-menu-2-submenu__item Маркетолог
              a(href="#").main-header-menu-2-submenu__item Аудит
              a(href="#").main-header-menu-2-submenu__item SMM
              a(href="#").main-header-menu-2-submenu__item Аналитика
              a(href="#").main-header-menu-2-submenu__item SERM

      .header-burger
        .header-burger__item
        .header-burger__item

script.
  $(function () {
    // header burger script
    $('.header-burger').click(function () {
      $(this).toggleClass('header-burger--active');
      $(this).closest('.main-header-layout').toggleClass('main-header-layout--active');
      $('body').toggleClass('no-scroll');
    });

    // header submenu open on tablet/mobile
    if ($(window).width() < 1240) {
      $('.main-header-menu-2__item-link').click(function () {
        $(this).next('.main-header-menu-2-submenu').slideToggle(300);
      });
    }

    // header onscroll animation
    var $window = $(window);
    var $header = $('.main-header-layout');
    var $fixedAside = $('.fixed-aside');
    var $main = $('.main');
    var windowHeight = $window.height();
    var lastScrollTop = 0;
    var showHeaderBreakpoint = -60;
    var scrollTop;
    var currentPage = '';

    if ($main.is('#home') || $main.is('#about')) {
      $fixedAside.css({top: $('.home-intro').height()}).removeClass('fixed-aside--scroll');
    } else {

    }

    if ($main.is('#home')) {
      currentPage = 'home';
      showHeaderBreakpoint = windowHeight+60;
    } else if($main.is('#about')) {
      currentPage = 'about';
    } else {

    }

    if ($main.is('#home')) {

    } else {
      $header.addClass('main-header-layout--min main-header-layout--min-showed');
    }

    $header.css({opacity: '1'});

    $window.scroll(function () {
      scrollTop = $(this).scrollTop();

      if(currentPage === 'home') {
        if (scrollTop > windowHeight) {
          $header.addClass('main-header-layout--min');
        } else {
          $header.removeClass('main-header-layout--min');
        }
      }

      // fixed menu positioning
      if(currentPage === 'home' || currentPage === 'about') {
        if (scrollTop > $('.home-intro').height()) {
          $('.fixed-aside').css({top: 0}).addClass('fixed-aside--scroll');
        } else {
          $('.fixed-aside').css({top: $('.home-intro').height()}).removeClass('fixed-aside--scroll');
        }
      }

      if (scrollTop < lastScrollTop && scrollTop > showHeaderBreakpoint) {
        $header.addClass('main-header-layout--min-showed');
      } else {
        $header.removeClass('main-header-layout--min-showed');
      }
      lastScrollTop = scrollTop;
    });
  });