#cases {

 .home-portfolio, .home-clients, .home-reviews {

  .caption {
   display: none;
  }
 }

 .home-portfolio {

  .main-content {
   padding-top: 0;
  }

  .home-portfolio__more {
   display: none;
  }
 }
}