@import "case/info";
@import "case/content";

#case-page {

}

.case-banner {

 .case-banner__title {
  @extend .title-big;
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;
 }
 .case-banner__text {
  color: #ffffff;
  font-family: FuturaPTBook, sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-top: 40px;
 }
}