extends ../layouts/main

block contents

  include ../partials/header

  .main.main--standard#cases
    include ../pages-partials/home/portfolio
    include ../pages-partials/home/clients
    include ../pages-partials/home/reviews
    include ../pages-partials/home/action
    include ../pages-partials/home/contacts

  include ../partials/footer
  include ../partials/popups/popup-brief
  include ../partials/popups/popup-audit