extends ../layouts/main

block contents

  include ../partials/header

  .main.main--standard#contacts-page
    section.section.contacts-about
      .main-content
        h2.contacts-about__title.title С удовольствием ответим на<br class="br-lg-md"> все ваши вопросы:
        ul.contacts-about-list
          li.contacts-about-item
            h3.contacts-about-item__title Позвонить
            a(href="#").contacts-about-item__text.contacts-about-item__text--1 +38(044) 303 98 28
          li.contacts-about-item
            h3.contacts-about-item__title Написать
            a(href="#").contacts-about-item__text.contacts-about-item__text--2 support@luxsite.com.ua
          li.contacts-about-item
            h3.contacts-about-item__title Зайти в гости
            p.contacts-about-item__text Киев, ул. Алмазова, 18; с 9:00 до 18:00

    include ../pages-partials/home/action

    section.section.home-contacts
      .main-content
        .home-contacts__map
          iframe(src='https://snazzymaps.com/embed/120067')


  include ../partials/footer
  include ../partials/popups/popup-brief
  include ../partials/popups/popup-audit