extends ../layouts/main

block contents

  .main#home
    include ../pages-partials/home/intro
    include ../pages-partials/home/about
    include ../pages-partials/home/services
    include ../pages-partials/home/work
    include ../pages-partials/home/portfolio
    include ../pages-partials/home/audit
    include ../pages-partials/home/clients
    include ../pages-partials/home/reviews
    include ../pages-partials/home/team
    include ../pages-partials/home/blog
    include ../pages-partials/home/contacts
    include ../pages-partials/home/action

  include ../partials/footer
  include ../partials/popups/popup-brief
  include ../partials/popups/popup-audit