extends ../layouts/main

block contents

  include ../partials/header

  .main#page
    section.banner.blog-banner.home-intro.services-intro(style="background-image: url(img/services/seo/services-seo-banner.jpg)")
      h1.banner-title.title SEO

    section.section.page-content
      .main-content
        h1 Як збільшити продажі за допомогою SЕО?
        p
          span SEO (Search Engine Optimization) — це просування, розкрутка сайту під пошукові запити в Google, Yandex та інших пошуковиках. Наприклад, якщо Ви продаєте кактуси, то людина, яка шукає кактуси в Інтернеті, скоріш за все, потрапить саме на Ваш сайт.
        br
        br
        h4 Просування сайту в пошукових системах: особливості
        p За допомогою SЕО залучається більша кількість користувачів, які не просто «гуляють» по сайту, але роблять замовлення. Щоб вивести ваш сайт на перші місця в пошукових системах, потрібно підключити до даного процесу SЕО фахівця. Тільки так можна досягти відмінних результатів за кілька днів.

        h4 Продвижение сайта, цены — закажите продвижение сайта в агентстве Люкс Сайт

        .hidden-scroll.services-seo-table-layout
          .services-seo-table
            .services-seo-table__th
              .services-seo-table__td Пакет
              .services-seo-table__td Описание пакета
              .services-seo-table__td ключевых фраз
              .services-seo-table__td цена
            .services-seo-table__tr
              .services-seo-table__td Начальный
              .services-seo-table__td Подходит для небольших сайтов с низкой конкуренцией
              .services-seo-table__td до 100 фраз
              .services-seo-table__td от 7000 грн/мес.
            .services-seo-table__tr
              .services-seo-table__td Оптимальный
              .services-seo-table__td Подходит для сайтов со средней конкуренцией
              .services-seo-table__td 100-200 фраз
              .services-seo-table__td от 12 000 грн/мес.
            .services-seo-table__tr
              .services-seo-table__td Бизнес
              .services-seo-table__td Подходит для большых интернет-магазинов и порталов
              .services-seo-table__td от 200 фраз
              .services-seo-table__td от 15 000 грн

        br
        br

        h4 Seo продвижение: как это работает?
        p
          | Весь процесс состоит из перечня действий, нацеленных на усовершенствование ресурса, условно, чтоб сайт «понравился» поисковой системе и создание качественно ссылочного профиля. При наличии опытной команды и бюджета, фактически, можно добиться желаемого результата в любой нише и при любой конкуренции.
          br
          | Ориентировочный список работ, который позволяет улучшить видимость в поисковой системе:
        ul
          li Аудит. Заказчику будут даны советы по улучшения сайта с учетом улучшения сайта в «глазах» поисковой системы.
          li Внутренняя оптимизация сайта. После аудита и сео анализа, устранятся проблемы и ошибки, которые мешают продвижению.
          li Внешняя оптимизация. Построение ссылочного профиля сайта, упоминаний бренда, адресов и тд, что создает впечатление в глазах поисковой системы, что ваш ресурс очень популярен.
          li Качественный копирайтинг служит эффективным инструментом продвижения услуг или товаров, расширяет семантику, что увеличивает охват потенциальных посетителей.
        p Это все «грубые мазки», деталей много, но это будут уже наши задачи, а Ваши, только помогать нам в изучении Вашего бизнеса и качественной интеграции его в Интернет.
        br
        br

        h4 Доверьте раскрутку сайта специалистам
        p
          | А если представить, что Интернет — это огромный город, а Ваш сайт — это магазин?Так вот чтобы иметь «магазин в центре города», Вам понадобится SEO.
          br
          | Это ежемесячная «аренда», которую Вы платите, чтобы иметь большой поток посетителей в своем магазине.
          br
          | Без SЕО Ваш сайт (каким бы «красивым» он ни был) будет подвальным помещением в спальном районе. И чтобы о Вас узнали, придется тратить большие деньги на рекламу.
        br
        br

        h4 Причем тут Интернет?
        p
          | А если представить, что Интернет — это огромный город, а Ваш сайт — это магазин?Так вот чтобы иметь «магазин в центре города», Вам понадобится SEO.
          br
          | Это ежемесячная «аренда», которую Вы платите, чтобы иметь большой поток посетителей в своем магазине.
          br
          | Без SЕО Ваш сайт (каким бы «красивым» он ни был) будет подвальным помещением в спальном районе. И чтобы о Вас узнали, придется тратить большие деньги на рекламу.
        br
        br

        h4 Сколько стоит SЕО продвижение?
        p От 7 тыс. грн Это много или мало? Вы лучше знаете экономику своего бизнеса. Сколько Вы готовы платить за постоянный поток клиентов?

        .blue-section.services-faq-section
          .main-content
            .blue-section__content
              h2 Ответ на Вашы часто задаваемые вопросы
              .services-faq
                .services-faq-item.services-faq-item--active
                  h2.services-faq-item__title Что же такое SEO и для чего нужно  оптимизировать сайт?
                  .services-faq-item__text
                    | Давайте не будем вдаваться в подробности и историю, засорять память лишними терминами. Мы лишь попытаемся создать общую картину, которая поможет четко понять, для чего нужно оптимизировать сайт и как SEO может повлиять на развитие бизнеса в интернете.
                    br
                    br
                    | Когда ваш потенциальный клиент вводит запрос в поисковик (в том числе и Google), вы наверное хотите, чтобы этот клиент попал именно на ваш сайт. Для этого нужно сделать так, чтобы ваш вебсайт был как можно выше среди других подобных ресурсов в ответе Google, т.е. чтобы ваш сайт понравился поисковой системе. А совокупность действий, которые делают сайт привлекательным для поисковых систем, и есть SEO или «поисковая оптимизация».
                    br
                    br
                    | Оптимизация сайта — это один из вариантов привлечения новых клиентов. Причем, это будут потенциальные клиенты, которые сами Вас нашли  — не менеджер их убедил обратиться к вам, не навязчивая реклама. Их уже не  интересует Ваш продукт, они уже решили совершить покупку и поэтому оказались на вашем сайте. При этом, такого рода лиды будут стоить для вас гораздо дешевле, чем услуги менеджера по продажам, или, например, контекстной рекламы.
                    .services-faq-item__close Свернуть
                .services-faq-item
                  h2.services-faq-item__title Правильная оптимизация сайта —  в чем залог успеха?
                  .services-faq-item__text
                    | Давайте не будем вдаваться в подробности и историю, засорять память лишними терминами. Мы лишь попытаемся создать общую картину, которая поможет четко понять, для чего нужно оптимизировать сайт и как SEO может повлиять на развитие бизнеса в интернете.
                    br
                    br
                    | Когда ваш потенциальный клиент вводит запрос в поисковик (в том числе и Google), вы наверное хотите, чтобы этот клиент попал именно на ваш сайт. Для этого нужно сделать так, чтобы ваш вебсайт был как можно выше среди других подобных ресурсов в ответе Google, т.е. чтобы ваш сайт понравился поисковой системе. А совокупность действий, которые делают сайт привлекательным для поисковых систем, и есть SEO или «поисковая оптимизация».
                    br
                    br
                    | Оптимизация сайта — это один из вариантов привлечения новых клиентов. Причем, это будут потенциальные клиенты, которые сами Вас нашли  — не менеджер их убедил обратиться к вам, не навязчивая реклама. Их уже не  интересует Ваш продукт, они уже решили совершить покупку и поэтому оказались на вашем сайте. При этом, такого рода лиды будут стоить для вас гораздо дешевле, чем услуги менеджера по продажам, или, например, контекстной рекламы.
                    .services-faq-item__close Свернуть
                .services-faq-item
                  h2.services-faq-item__title Смогу ли я самостоятельно  продвигать сайт?
                  .services-faq-item__text
                    | Давайте не будем вдаваться в подробности и историю, засорять память лишними терминами. Мы лишь попытаемся создать общую картину, которая поможет четко понять, для чего нужно оптимизировать сайт и как SEO может повлиять на развитие бизнеса в интернете.
                    br
                    br
                    | Когда ваш потенциальный клиент вводит запрос в поисковик (в том числе и Google), вы наверное хотите, чтобы этот клиент попал именно на ваш сайт. Для этого нужно сделать так, чтобы ваш вебсайт был как можно выше среди других подобных ресурсов в ответе Google, т.е. чтобы ваш сайт понравился поисковой системе. А совокупность действий, которые делают сайт привлекательным для поисковых систем, и есть SEO или «поисковая оптимизация».
                    br
                    br
                    | Оптимизация сайта — это один из вариантов привлечения новых клиентов. Причем, это будут потенциальные клиенты, которые сами Вас нашли  — не менеджер их убедил обратиться к вам, не навязчивая реклама. Их уже не  интересует Ваш продукт, они уже решили совершить покупку и поэтому оказались на вашем сайте. При этом, такого рода лиды будут стоить для вас гораздо дешевле, чем услуги менеджера по продажам, или, например, контекстной рекламы.
                    .services-faq-item__close Свернуть

        h2 Пакеты предложений по SEO

        .hidden-scroll.services-packages-layout
          .services-packages
            .services-package
              .services-package__item
                h3.services-package__number 01
                h2.services-package__title Начальный
              .services-package__item.services-package-about__main
                .services-package-about
                  .services-package-about__item
                    .services-package-about__item-icon
                      span +
                    .services-package-about__item-text SEO аудит сайта
                    .services-package-about__item-hint ?
                      .services-package-about__item-hint-cloud Настройка целей для наглядности конверсий на сайте (для e-comerce)
                  .services-package-about__item
                    .services-package-about__item-icon
                      span +
                    .services-package-about__item-text Анализ конкурентов
                    .services-package-about__item-hint ?
                      .services-package-about__item-hint-cloud Настройка целей для наглядности конверсий на сайте (для e-comerce)
                  .services-package-about__item
                    .services-package-about__item-icon
                      span +
                    .services-package-about__item-text Технический аудит сайта
                    .services-package-about__item-hint ?
                      .services-package-about__item-hint-cloud Настройка целей для наглядности конверсий на сайте (для e-comerce)
                  .services-package-about__item
                    .services-package-about__item-icon -
                    .services-package-about__item-text Сбор базовых ключевых
                    .services-package-about__item-hint ?
                      .services-package-about__item-hint-cloud Настройка целей для наглядности конверсий на сайте (для e-comerce)
                  .services-package-about__item
                    .services-package-about__item-icon -
                    .services-package-about__item-text Подбор семантического ядра
                    .services-package-about__item-hint ?
                      .services-package-about__item-hint-cloud Настройка целей для наглядности конверсий на сайте (для e-comerce)
                  .services-package-about__item
                    .services-package-about__item-icon
                      span +
                    .services-package-about__item-text Оптимизация URLs страниц
                    .services-package-about__item-hint ?
                      .services-package-about__item-hint-cloud Настройка целей для наглядности конверсий на сайте (для e-comerce)
                  .services-package-about__item
                    .services-package-about__item-icon
                      span +
                    .services-package-about__item-text Дополнительные страницы
                    .services-package-about__item-hint ?
                      .services-package-about__item-hint-cloud Настройка целей для наглядности конверсий на сайте (для e-comerce)
                  .services-package-about__item
                    .services-package-about__item-icon -
                    .services-package-about__item-text Мониторинг видимости сайта в ПС
                    .services-package-about__item-hint ?
                      .services-package-about__item-hint-cloud Настройка целей для наглядности конверсий на сайте (для e-comerce)
              .services-package__item.services-package__footer
                h3.services-package__footer-title стоимость пакета:
                h3.services-package__price от 7 000 грн
                a(href="#").btn.services-package__btn Заказать
            .services-package
              .services-package__item
                h3.services-package__number 02
                h2.services-package__title Оптимальный
              .services-package__item.services-package-about__main
                .services-package-about
                  .services-package-about__item
                    .services-package-about__item-icon
                      span +
                    .services-package-about__item-text SEO аудит сайта
                    .services-package-about__item-hint ?
                      .services-package-about__item-hint-cloud Настройка целей для наглядности конверсий на сайте (для e-comerce)
                  .services-package-about__item
                    .services-package-about__item-icon
                      span +
                    .services-package-about__item-text Анализ конкурентов
                    .services-package-about__item-hint ?
                      .services-package-about__item-hint-cloud Настройка целей для наглядности конверсий на сайте (для e-comerce)
                  .services-package-about__item
                    .services-package-about__item-icon
                      span +
                    .services-package-about__item-text Технический аудит сайта
                    .services-package-about__item-hint ?
                      .services-package-about__item-hint-cloud Настройка целей для наглядности конверсий на сайте (для e-comerce)
                  .services-package-about__item
                    .services-package-about__item-icon -
                    .services-package-about__item-text Сбор базовых ключевых
                    .services-package-about__item-hint ?
                      .services-package-about__item-hint-cloud Настройка целей для наглядности конверсий на сайте (для e-comerce)
                  .services-package-about__item
                    .services-package-about__item-icon -
                    .services-package-about__item-text Подбор семантического ядра
                    .services-package-about__item-hint ?
                      .services-package-about__item-hint-cloud Настройка целей для наглядности конверсий на сайте (для e-comerce)
                  .services-package-about__item
                    .services-package-about__item-icon
                      span +
                    .services-package-about__item-text Оптимизация URLs страниц
                    .services-package-about__item-hint ?
                      .services-package-about__item-hint-cloud Настройка целей для наглядности конверсий на сайте (для e-comerce)
                  .services-package-about__item
                    .services-package-about__item-icon
                      span +
                    .services-package-about__item-text Дополнительные страницы
                    .services-package-about__item-hint ?
                      .services-package-about__item-hint-cloud Настройка целей для наглядности конверсий на сайте (для e-comerce)
                  .services-package-about__item
                    .services-package-about__item-icon -
                    .services-package-about__item-text Мониторинг видимости сайта в ПС
                    .services-package-about__item-hint ?
                      .services-package-about__item-hint-cloud Настройка целей для наглядности конверсий на сайте (для e-comerce)
              .services-package__item.services-package__footer
                h3.services-package__footer-title стоимость пакета:
                h3.services-package__price от 12 000 грн
                a(href="#").btn.services-package__btn Заказать
            .services-package
              .services-package__item
                h3.services-package__number 03
                h2.services-package__title Оптимальный
              .services-package__item.services-package-about__main
                .services-package-about
                  .services-package-about__item
                    .services-package-about__item-icon
                      span +
                    .services-package-about__item-text SEO аудит сайта
                    .services-package-about__item-hint ?
                      .services-package-about__item-hint-cloud Настройка целей для наглядности конверсий на сайте (для e-comerce)
                  .services-package-about__item
                    .services-package-about__item-icon
                      span +
                    .services-package-about__item-text Анализ конкурентов
                    .services-package-about__item-hint ?
                      .services-package-about__item-hint-cloud Настройка целей для наглядности конверсий на сайте (для e-comerce)
                  .services-package-about__item
                    .services-package-about__item-icon
                      span +
                    .services-package-about__item-text Технический аудит сайта
                    .services-package-about__item-hint ?
                      .services-package-about__item-hint-cloud Настройка целей для наглядности конверсий на сайте (для e-comerce)
                  .services-package-about__item
                    .services-package-about__item-icon -
                    .services-package-about__item-text Сбор базовых ключевых
                    .services-package-about__item-hint ?
                      .services-package-about__item-hint-cloud Настройка целей для наглядности конверсий на сайте (для e-comerce)
                  .services-package-about__item
                    .services-package-about__item-icon -
                    .services-package-about__item-text Подбор семантического ядра
                    .services-package-about__item-hint ?
                      .services-package-about__item-hint-cloud Настройка целей для наглядности конверсий на сайте (для e-comerce)
                  .services-package-about__item
                    .services-package-about__item-icon
                      span +
                    .services-package-about__item-text Оптимизация URLs страниц
                    .services-package-about__item-hint ?
                      .services-package-about__item-hint-cloud Настройка целей для наглядности конверсий на сайте (для e-comerce)
                  .services-package-about__item
                    .services-package-about__item-icon
                      span +
                    .services-package-about__item-text Дополнительные страницы
                    .services-package-about__item-hint ?
                      .services-package-about__item-hint-cloud Настройка целей для наглядности конверсий на сайте (для e-comerce)
                  .services-package-about__item
                    .services-package-about__item-icon -
                    .services-package-about__item-text Мониторинг видимости сайта в ПС
                    .services-package-about__item-hint ?
                      .services-package-about__item-hint-cloud Настройка целей для наглядности конверсий на сайте (для e-comerce)
              .services-package__item.services-package__footer
                h3.services-package__footer-title стоимость пакета:
                h3.services-package__price от 20 000 грн
                a(href="#").btn.services-package__btn Заказать



    section.section.home-action
      .main-content
        h2.title.title--white.home-action__title
          | Мы потратим всего 10 минут <br class="br-lg-md">
          | на то, что может занять у вас весь день!
        button(onclick="showPopup('#popup-brief')").popup-link.home-action__btn.btn.btn--transparent Заказать поддержку

    include ../pages-partials/services/services
    include ../pages-partials/home/contacts

  include ../partials/footer
  include ../partials/popups/popup-brief
  include ../partials/popups/popup-audit