extends ../layouts/main

block contents

  include ../partials/header

  .main#services
    include ../pages-partials/home/services
    include ../pages-partials/home/contacts
    include ../pages-partials/home/action

  include ../partials/footer
  include ../partials/popups/popup-brief
  include ../partials/popups/popup-audit