extends ../layouts/main

block contents

  include ../partials/header

  .main#services-support
    section.banner.blog-banner.home-intro.services-intro(style="background-image: url(img/services/support/services-support-banner.jpg)")
      h1.banner-title.title Техническая поддержка

    section.section.page-content
      .main-content
        h1 Техническое обслуживание и обновление сайта
        p
          span Техническое сопровождение сайта — это работа по обеспечению его работоспособности и развитию. Техническое обслуживание может быть как постоянное, так и периодическое.
        br
        br
        h4 Плюсы постоянного обслуживания сайта
        p
          | Периодическое обойдется значительно дороже, ведь вам придется надеяться на то, что специалисты в компании, которая обеспечивает техподдержку, будут в данный момент свободны. Добавьте также, что с проектом будет работать специалист, который не знаком с Вашим сайтом, соответственно, это риск значительно больших трат на специалиста и потери данных. Постоянное сопровождение сайта позволит отслеживать его состояние и свести к минимуму возможные сбои(потерю данных), обеспечить быстрое выполнение поставленных задач.
          br
          br
          | Чтобы удержать интерес посетителя к вашему сайту, как и успеха как любого дела, так и веб-проекта в частности, необходимо постоянное его обновление и развитие, добавление новых функций и страниц.
          br
          br
          | Возникает необходимость дизайнерского оформления или корректировки материалов размещенных на сайте, создание баннеров, юзабилити доработок или изменений сайта. Кроме этого, необходимо отслеживать доступность и работоспособность сайта, проводить резервное копирование, чтобы в случае технического сбоя можно было восстановить работоспособность ресурса в кратчайшие сроки.
        br
        br
        h4 Влияют на стоимость следующие составляющие:
        p Весь процесс состоит из перечня действий, нацеленных на усовершенствование ресурса, условно, чтоб сайт «понравился» поисковой системе и создание качественно ссылочного профиля. При наличии опытной команды и бюджета, фактически, можно добиться желаемого результата в любой нише и при любой конкуренции.
        p Ориентировочный список работ, который позволяет улучшить видимость в поисковой системе:
        ul
          li Вид работ, программирование, дизайн и тд.
          li Время задействованных специалистами на поддержку и обновление сайта
          li Сложность или использованные технологии реализации
          li Объем работ
        h4.text-exclamation Вы экономите, оплачивая почасово работу специалистов, так как на отдельные задачи уходит значительно меньше времени, чем на весь проект.
        p Ваш домен всегда будет проплачен, его не смогут перекупить конкуренты, и главное, вы забываете о необходимости постоянного контроля этой задачи. Мы сделаем все за Вас!

        .blue-section.services-economy-section
          .main-content
            .blue-section__content
              h2 Вы экономите, оплачивая почасово работу специалистов, так как на отдельные задачи уходит значительно меньше времени, чем на весь проект
              p Ваш домен всегда будет проплачен, его не смогут перекупить конкуренты, и главное, вы забываете о необходимости постоянного контроля этой задачи. Мы сделаем все за Вас!
              h3 Что входит в техническое обслуживание сайта:
              .services-economy-list
                .services-economy-item
                  .services-economy-item__number 01
                  .services-economy-item__title Дополнение и исправление устаревшей информации
                .services-economy-item
                  .services-economy-item__number 02
                  .services-economy-item__title Модернизация, изменения страниц или шаблона
                .services-economy-item
                  .services-economy-item__number 03
                  .services-economy-item__title Загрузка новых информационных и графических материалов
                .services-economy-item
                  .services-economy-item__number 04
                  .services-economy-item__title Создание новых страниц и размещение их на сайте
                .services-economy-item
                  .services-economy-item__number 05
                  .services-economy-item__title Редактирование изображений
                .services-economy-item
                  .services-economy-item__number 06
                  .services-economy-item__title Исправление ошибок на сайте
                .services-economy-item
                  .services-economy-item__number 07
                  .services-economy-item__title Создание новых страниц и размещение их на сайте
                .services-economy-item
                  .services-economy-item__number 08
                  .services-economy-item__title Редактирование изображений
                .services-economy-item
                  .services-economy-item__number 09
                  .services-economy-item__title Исправление ошибок на сайте
                .services-economy-item
                  .services-economy-item__number 10
                  .services-economy-item__title Создание новых страниц и размещение их на сайте
                .services-economy-item
                  .services-economy-item__number 11
                  .services-economy-item__title Редактирование изображений
                .services-economy-item
                  .services-economy-item__number 12
                  .services-economy-item__title Исправление ошибок на сайте

        h4 Подбор хостинга
        p Разработанный сайт должен быть доступен Вашим клиентам. Хостинг — это услуга, позволяющая разместить сайт на специальном сервере, который обеспечивает его непрерывную доступность в сети Internet. Мы помогаем подобрать хостера (компанию, предоставляющую услугу хостинга) и размещаем сайт на его сервере. При необходимости проводим обслуживание серверов заказчика.


    section.section.home-action
      .main-content
        h2.title.title--white.home-action__title
          | Мы потратим всего 10 минут <br class="br-lg-md">
          | на то, что может занять у вас весь день!
        button(onclick="showPopup('#popup-brief')").popup-link.home-action__btn.btn.btn--transparent Заказать поддержку

    include ../pages-partials/services/services
    include ../pages-partials/home/contacts

  include ../partials/footer
  include ../partials/popups/popup-brief
  include ../partials/popups/popup-audit