#popup-development.popup-layout.popup-layout--transparent
  .popup-scrollarea
    .popup.popup--modal.popup-development
      .popup__close
      h2.popup-title Страница находится<br> в разработке
      .popup-development__icon
