section.section.home-about#about
  .main-content
    h2.title.home-about__title Почему выбирают LuxSite
    ul.home-about-list
      li.home-about-item
        h3.home-about-item__title Индивидуальный подход
        p.home-about-item__text
          | Персональный менеджер
          br
          | Все задачи формулируються в CRM
      li.home-about-item
        h3.home-about-item__title Аналитика и аудит
        p.home-about-item__text
          | Находим сильные и слабые стороны
          br
          | Полный аудит рекламных кампаний
      li.home-about-item
        h3.home-about-item__title Большой опыт
        p.home-about-item__text
          | Более 800 удачных проектов
          br
          | Работа с разными странами
      li.home-about-item
        h3.home-about-item__title Комплексный подход
        p.home-about-item__text
          | Все виды работ в интернет маркетинге
          br
          | В штате все необходимые специалисты
