section.section.home-about#about
  .main-content
    h2.title.home-about__title ПОЧЕМУ МЫ?
    ul.home-about-list
      li.home-about-item
        h3.home-about-item__title Аудит и аналитика
        p.home-about-item__text
          | Работа начинается только после
          br
          | тщательного анализа бизнес процессов
      li.home-about-item
        h3.home-about-item__title Разработка маркетинг стратегии
        p.home-about-item__text
          | Нам не надо говорить, что делать
          br
          | Мы сами подготовим план действий
      li.home-about-item
        h3.home-about-item__title Подбор каналов продвижения
        p.home-about-item__text
          | Мы предлагаем только то, что будет работать
          br
          | А не все подряд, для увеличения чека
      li.home-about-item
        h3.home-about-item__title Большой опыт
        p.home-about-item__text
          | Более 800 удачных проектов с 2012 года
          br
          | Клиенты из Украины, США, Канады, Австралии
