section.section.home-action
  .main-content
    h2.title.title--white.home-action__title
      | Есть крутой проект или идея?
      br
      | Мы сделаем ее лучше!
    a(href="#").home-action__btn.btn.btn--transparent Начать проект