section.section.home-action
  .main-content
    h2.title.title--white.home-action__title
      | Есть крутой проект<br class="br-sm"> или идея?
      br
      | Мы сделаем ее лучше!
    button(onclick="showPopup('#popup-brief')").popup-link.home-action__btn.btn.btn--transparent Начать проект