section.section.home-audit
  .main-content
    h2.title.title--white.home-audit__title Хорошо ли продает ваш сайт?<br class="br-lg-md"> Получи<br class="br-sm"> <span>бесплатный аудит</span>
    button(onclick="showPopup('#popup-audit')").popup-link.home-audit__btn.btn.btn--orange Получить сейчас