section.section.home-audit
  .main-content
    h2.title.title--white.home-audit__title
      | Бизнес не работает в интернете?
      br
      | Получи <span>бесплатный аудит</span>
      br
      | своего сайта
    a(href="#").home-audit__btn.btn.btn--orange Получить сейчас