section.section.home-audit
  .main-content
    h2.title.title--white.home-audit__title Бизнес не работает<br class="br-sm"> в интернете?<br class="br-lg-md"> Получи<br class="br-sm"> <span>бесплатный аудит</span><br> своего сайта
    button(onclick="showPopup('#popup-audit')").popup-link.home-audit__btn.btn.btn--orange Получить сейчас