section.section.home-clients
  .main-content
    h3.caption.home-clients__caption Клиенты
    h2.title.title--white.home-clients__title Мы помогли более чем 450 клиентам<br class="br-lg-md"> в развитии их бизнеса
    p.home-clients__text Львиная часть которых - постоянные

    .home-clients-slider
      .home-clients-slide
        ul.home-clients-slide__list
          li.home-clients-slide__item
            p.home-clients-slide__item-number 01
            .home-clients-slide__item-image(style="background-image: url(img/home/clients/clients-001.png)")
          li.home-clients-slide__item
            p.home-clients-slide__item-number 02
            .home-clients-slide__item-image(style="background-image: url(img/home/clients/clients-002.png)")
          li.home-clients-slide__item
            p.home-clients-slide__item-number 03
            .home-clients-slide__item-image(style="background-image: url(img/home/clients/clients-003.png)")
          li.home-clients-slide__item
            p.home-clients-slide__item-number 04
            .home-clients-slide__item-image(style="background-image: url(img/home/clients/clients-004.png)")
          li.home-clients-slide__item
            p.home-clients-slide__item-number 05
            .home-clients-slide__item-image(style="background-image: url(img/home/clients/clients-005.png)")
          li.home-clients-slide__item
            p.home-clients-slide__item-number 06
            .home-clients-slide__item-image(style="background-image: url(img/home/clients/clients-006.png)")
          li.home-clients-slide__item
            p.home-clients-slide__item-number 07
            .home-clients-slide__item-image(style="background-image: url(img/home/clients/clients-007.png)")
          li.home-clients-slide__item
            p.home-clients-slide__item-number 08
            .home-clients-slide__item-image(style="background-image: url(img/home/clients/clients-008.png)")
      .home-clients-slide
        ul.home-clients-slide__list
          li.home-clients-slide__item
            p.home-clients-slide__item-number 09
            .home-clients-slide__item-image(style="background-image: url(img/home/clients/clients-009.png)")
          li.home-clients-slide__item
            p.home-clients-slide__item-number 10
            .home-clients-slide__item-image(style="background-image: url(img/home/clients/clients-010.png)")
          li.home-clients-slide__item
            p.home-clients-slide__item-number 11
            .home-clients-slide__item-image(style="background-image: url(img/home/clients/clients-011.png)")
          li.home-clients-slide__item
            p.home-clients-slide__item-number 12
            .home-clients-slide__item-image(style="background-image: url(img/home/clients/clients-012.png)")
          li.home-clients-slide__item
            p.home-clients-slide__item-number 13
            .home-clients-slide__item-image(style="background-image: url(img/home/clients/clients-013.png)")
          li.home-clients-slide__item
            p.home-clients-slide__item-number 14
            .home-clients-slide__item-image(style="background-image: url(img/home/clients/clients-014.png)")
          li.home-clients-slide__item
            p.home-clients-slide__item-number 15
            .home-clients-slide__item-image(style="background-image: url(img/home/clients/clients-015.png)")

    .slider-counter.home-clients-slider-counter <span class="home-clients-slider-counter__current">1</span>/<span class="home-clients-slider-counter__total">1</span>


script.
  $(function () {
    $homeClientsSlider = $('.home-clients-slider');
    sliderCounter($homeClientsSlider, $('.home-clients-slider-counter__current'), $('.home-clients-slider-counter__total'));

    $homeClientsSlider.slick({
      adaptiveHeight: true,
      infinite: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: true,
      dots: false
    });
  });
