section.section.home-clients
  .main-content
    h3.caption.home-clients__caption Клиенты
    h2.title.title--white.home-clients__title Более 450 довольных клиентов<br class="br-lg-md"> компании LuxSite
    p.home-clients__text Львиная часть которых - постоянные

    .home-clients-slider
      .home-clients-slide
        ul.home-clients-slide__list
          li.home-clients-slide__item
            p.home-clients-slide__item-number 01
            .home-clients-slide__item-image(style="background-image: url(img/home/clients/client-1.png)")
          li.home-clients-slide__item
            p.home-clients-slide__item-number 02
            .home-clients-slide__item-image(style="background-image: url(img/home/clients/client-1.png)")
          li.home-clients-slide__item
            p.home-clients-slide__item-number 03
            .home-clients-slide__item-image(style="background-image: url(img/home/clients/client-1.png)")
          li.home-clients-slide__item
            p.home-clients-slide__item-number 04
            .home-clients-slide__item-image(style="background-image: url(img/home/clients/client-1.png)")
          li.home-clients-slide__item
            p.home-clients-slide__item-number 05
            .home-clients-slide__item-image(style="background-image: url(img/home/clients/client-1.png)")
          li.home-clients-slide__item
            p.home-clients-slide__item-number 06
            .home-clients-slide__item-image(style="background-image: url(img/home/clients/client-1.png)")
          li.home-clients-slide__item
            p.home-clients-slide__item-number 07
            .home-clients-slide__item-image(style="background-image: url(img/home/clients/client-1.png)")
          li.home-clients-slide__item
            p.home-clients-slide__item-number 08
            .home-clients-slide__item-image(style="background-image: url(img/home/clients/client-1.png)")
      .home-clients-slide
        ul.home-clients-slide__list
          li.home-clients-slide__item
            p.home-clients-slide__item-number 01
            .home-clients-slide__item-image(style="background-image: url(img/home/clients/client-1.png)")
          li.home-clients-slide__item
            p.home-clients-slide__item-number 02
            .home-clients-slide__item-image(style="background-image: url(img/home/clients/client-1.png)")
          li.home-clients-slide__item
            p.home-clients-slide__item-number 03
            .home-clients-slide__item-image(style="background-image: url(img/home/clients/client-1.png)")
          li.home-clients-slide__item
            p.home-clients-slide__item-number 04
            .home-clients-slide__item-image(style="background-image: url(img/home/clients/client-1.png)")
          li.home-clients-slide__item
            p.home-clients-slide__item-number 05
            .home-clients-slide__item-image(style="background-image: url(img/home/clients/client-1.png)")
          li.home-clients-slide__item
            p.home-clients-slide__item-number 06
            .home-clients-slide__item-image(style="background-image: url(img/home/clients/client-1.png)")
          li.home-clients-slide__item
            p.home-clients-slide__item-number 07
            .home-clients-slide__item-image(style="background-image: url(img/home/clients/client-1.png)")
          li.home-clients-slide__item
            p.home-clients-slide__item-number 08
            .home-clients-slide__item-image(style="background-image: url(img/home/clients/client-1.png)")

    .slider-counter.home-clients-slider-counter <span class="home-clients-slider-counter__current">1</span>/<span class="home-clients-slider-counter__total">1</span>


script.
  $(function () {
    $homeClientsSlider = $('.home-clients-slider');
    sliderCounter($homeClientsSlider, $('.home-clients-slider-counter__current'), $('.home-clients-slider-counter__total'));

    $homeClientsSlider.slick({
      adaptiveHeight: true,
      infinite: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: true,
      dots: false
    });
  });
