section.section.home-contacts#contacts
  .main-content
    .home-contacts__map
      iframe(src="https://snazzymaps.com/embed/104334")
    .home-contacts__info
      h3.caption.home-contacts__caption Контакты
      a(href="#").home-contacts__phone +38(044) 303 98 28
      p.home-contacts__text с 9:00 до 18:00
      p.home-contacts__text ул. Алмазова, 18; Киев, Киевская обл., 01133
      a(href="#").home-contacts__email support@luxsite.com.ua
