section.banner.home-intro
  h1.title-big.home-intro__title Решение задач<br class="br-md"> вашего<br class="br-lg"> бизнеса<br class="br-md"> в интернете
  p.home-intro__text В зону нашей компетенции входит: маркетинг, рекламные компании,<br class="br-md"> сайты и интерфейсы

  include ../../partials/header