section.banner.home-intro
  .home-intro__video
    video#video(loop autoplay="true" muted="muted")
      source(src='videos/home-intro-video.mp4', type='video/mp4')

  h1.title-big.home-intro__title Решение задач<br class="br-md"> вашего<br class="br-lg"> бизнеса<br class="br-md"> в интернете
  p.home-intro__text В зону нашей компетенции входит: маркетинг, рекламные компании,<br class="br-md"> сайты и интерфейсы
  button(onclick="showPopup('#popup-brief')").popup-link.btn.br-sm.home-intro__btn ОСтавить заявку

  include ../../partials/header