section.banner.home-intro
  h1.title-big.home-intro__title Решение задач вашего<br> бизнеса в интернете
  p.home-intro__text В зону нашей компетенции входит: маркетинг, рекламные компании, сайты и интерфейсы

  include ../../partials/header