section.section.home-portfolio
  .main-content
    h3.caption.home-portfolio__caption Портфолио
    h2.title.home-portfolio__title Мы гордимся всеми проектами,<br> но этими особенно

    ul.home-portfolio-list
      li.home-portfolio-item
        h3.home-portfolio-item__number 01
        .home-portfolio-item__content
          h2.home-portfolio-item__title Линия Окон
          ul.home-portfolio-item__tags
            li.home-portfolio-item__tag Разработка
            li.home-portfolio-item__tag SEO
            li.home-portfolio-item__tag Контекстная реклама
        .home-portfolio-item__image(style="background-image: url(img/home/portfolio/portfolio-item-1.png)")
      li.home-portfolio-item
        h3.home-portfolio-item__number 02
        .home-portfolio-item__content
          h2.home-portfolio-item__title Зоодом “Бегемот”
          ul.home-portfolio-item__tags
            li.home-portfolio-item__tag Разработка
            li.home-portfolio-item__tag SEO
        .home-portfolio-item__image(style="background-image: url(img/home/portfolio/portfolio-item-1.png)")
      li.home-portfolio-item
        h3.home-portfolio-item__number 03
        .home-portfolio-item__content
          h2.home-portfolio-item__title Prof Clean
          ul.home-portfolio-item__tags
            li.home-portfolio-item__tag SEO
            li.home-portfolio-item__tag SMM
            li.home-portfolio-item__tag Контекстная реклама
            li.home-portfolio-item__tag Техническая поддержка
        .home-portfolio-item__image(style="background-image: url(img/home/portfolio/portfolio-item-1.png)")
      li.home-portfolio-item
        h3.home-portfolio-item__number 04
        .home-portfolio-item__content
          h2.home-portfolio-item__title Город Дверей
          ul.home-portfolio-item__tags
            li.home-portfolio-item__tag Разработка
            li.home-portfolio-item__tag SEO
            li.home-portfolio-item__tag Контекстная реклама
        .home-portfolio-item__image(style="background-image: url(img/home/portfolio/portfolio-item-1.png)")

    a(href="#").btn.btn--transparent-blue.home-portfolio__more Все работы
