section.section.home-services
  .main-content
    h3.caption.home-services__caption Услуги
    h2.title.title--white.home-services__title Мы знаем как работать комплексно<br> и точечно

    ul.home-services-list
      li.home-services-item
        h3.home-services-item__title Разработка
        p.home-services-item__text
          | Корпоративные сайты
          br
          | Интернет магазины
          br
          | Порталы
          br
          | Лендинги
      li.home-services-item
        h3.home-services-item__title Продвижение сайтов SEO
        p.home-services-item__text
          | Продвижение сайтов (SEO)
          br
          | SEO аудит сайтов
          br
          | Контекстная реклама
          br
          | Юзабилити аудит
      li.home-services-item
        h3.home-services-item__title Контекстная реклама
        p.home-services-item__text
          | Рекламные стратегии
          br
          | Брендинговые стратегии
          br
          | Поисковая реклама
          br
          | Оптимизация аккаунтов
      li.home-services-item
        h3.home-services-item__title Аналитика и аудит
        p.home-services-item__text
          | Разработка прототипов
          br
          | Дизайн сайтов
          br
          | Брендирование
          br
          | Разработка контента
      li.home-services-item
        h3.home-services-item__title Социальные сети SMM
        p.home-services-item__text
          | Создание групп
          br
          | Поддержка групп
          br
          | Реклама в социальных сетях
          br
          | Таргет
      li.home-services-item
        h3.home-services-item__title Техническая поддрежка
        p.home-services-item__text
          | Администрирование серверов
          br
          | Исправление и доработка<br> сайтов