section.section.home-team#team
  .main-content
    h3.caption.home-team__caption Команда
    h2.title.home-team__title Мы знаем, что успех Вашего<br class="br-md"> бизнеса<br class="br-lg"> и нашей компании зависит<br class="br-md"> от каждого<br class="br-lg"> её сотрудника.
    p.home-team__text Поэтому мы создали и постоянно повышаем качество команды профессионалов и улучшаем условия для ее эффективной и комфортной работы. Кроме обеспечения конкурентоспособных условий труда, мы реализуем только те мероприятия, которые поддерживает вся команда.

    ul.home-team-list
      li.home-team-item
        .home-team-item__thumb(style="background-image: url(img/home/team/home-team-item.jpg)")
        h2.home-team-item__name Александр
        h3.home-team-item__position Управляющий партнер
      li.home-team-item
        .home-team-item__thumb(style="background-image: url(img/home/team/home-team-item.jpg)")
        h2.home-team-item__name Александр
        h3.home-team-item__position Управляющий партнер
      li.home-team-item
        .home-team-item__thumb(style="background-image: url(img/home/team/home-team-item.jpg)")
        h2.home-team-item__name Александр
        h3.home-team-item__position Управляющий партнер
      li.home-team-item
        .home-team-item__thumb(style="background-image: url(img/home/team/home-team-item.jpg)")
        h2.home-team-item__name Александр
        h3.home-team-item__position Управляющий партнер

    a(href="#").home-team__more.btn Узнать больше о нас
