section.section.home-work
  .main-content
    h2.title.title--white.home-work__title Работаем по всему миру!<br> Мы сотрудничаем с США,<br class="br-md"> Австралией,<br class="br-lg"> Канадой,<br class="br-md"> Казахстаном
    a(href="#").home-work__btn.btn.btn--transparent-white-blue Познакомиться ближе