section.section.vacancies.vacancies--cases
  .main-content
    h1.vacancies__title.title Другие наши работы
    ul.vacancies-list.vacancies-list--cases
      li.vacancies-item
        h2.home-portfolio-item__title Линия Окон
        ul.home-portfolio-item__tags
          li.home-portfolio-item__tag Разработка
          li.home-portfolio-item__tag SEO
          li.home-portfolio-item__tag Контекстная реклама
        a(href="#").vacancies-item__link.link-arrow Смотреть проект
      li.vacancies-item
        h2.home-portfolio-item__title Линия Окон
        ul.home-portfolio-item__tags
          li.home-portfolio-item__tag Разработка
          li.home-portfolio-item__tag SEO
          li.home-portfolio-item__tag Контекстная реклама
        a(href="#").vacancies-item__link.link-arrow Смотреть проект
