section.section.case-info
  .main-content
    ul.case-info-list
      li.case-info-item
        h2.case-info-item__title Клиент
        .case-info-item__text Strahovski Group
      li.case-info-item
        h2.case-info-item__title Тип работ
        .case-info-item__text
          | Маркетинг стратегия
          br
          | Разработка
          br
          | Техническая поддержка
          br
          | Контекстная реклама
      li.case-info-item
        h2.case-info-item__title Технологии
        .case-info-item__text YII 2
      li.case-info-item.case-info-item--link
        h2.case-info-item__title Ссылка
        .case-info-item__text
          a(href="#") continent.ua
