section.blue-section.section.case-result
  .main-content
    .blue-section__content
      h2 Результат
      ul
        li Проработали удобный и понятный пользователю поиск и выбор его будующих апартаментов
        li Расположение организации отображается на картах Google, это позволяет клиентам быстрее находить компанию.
        li Благодаря правильной выбранной контент-стратегии мы увеличили видимость сайта в Google в 74 раза. Эстетику и оригинальность сайта оценили по достоинству клиенты Vestfrost и жюри многих конкурсов.

