section.blue-section.section.case-task
  .main-content
    .blue-section__content
      h2 Задача клиента
      p Создать сайт, отражающий все качества ЖК нового поколения. Предоставить пользователю удобный выбор его будующего жилья.

