doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title Заказать аудит сайта бесплатно, комплексный seo аудит сайтов в Киеве от профессионалов.
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
    meta(http-equiv='X-UA-Compatible' content='IE=Edge')
    link(rel='stylesheet' href='css/style.css')

    // FAVICON
    //link(rel="icon" type="image/png" href="img/fav/favicon-32x32.png" sizes="32x32")
    //link(rel="icon" type="image/png" href="img/fav/favicon-16x16.png" sizes="16x16")
    link(rel="icon" type="image/png" href="img/favicon.png")

    script(src='js/jquery-2.1.4.min.js' type='text/javascript')
    script(src='js/jquery.cookie.js' type='text/javascript')
  body
    block contents