.btn {
 display: inline-block;
 border-radius: 4px;
 background: #4069be;
 color: #ffffff;
 font-size: 11px;
 font-weight: 600;
 text-transform: uppercase;
 text-align: center;
 letter-spacing: 1.32px;
 padding: 23px 56px;
 cursor: pointer;
 transition: 0.7s;
 @include tablet-mobile {
  font-size: 10px;
  padding: 18px 50px;
 }
 &:hover {
  background: #498bfc;
 }

 &.btn--transparent {
  border: 1px solid #ffffff;
  background: transparent;
  &:hover {
   background: #fff;
   color: #f18527;
  }
 }

 &.btn--transparent-blue {
  border: 1px solid #4069be;
  background: transparent;
  color: #4069be;
  &:hover {
   background: #4069be;
   color: #fff;
  }
 }

 &.btn--transparent-white-blue {
  border: 1px solid #ffffff;
  background: transparent;
  &:hover {
   background: #4069be;
   border-color: #4069be;
  }
 }

 &.btn--orange {
  background: linear-gradient(to right, #f6981c 0%, #fbb730 51%, #f6981c 100%);
  background-size: 200% auto;
  &:hover {
   background-position: right center;
  }
 }
 &.btn--blue-gradient {
  background: linear-gradient(63deg, #4069be 0%, #498bfc 50%);
  background-size: 200% auto;
  &:hover {
   background-position: right center;
  }
 }
}

.link-arrow {
 display: inline-block;
 background: url(../img/common/arrow-right-blue.png) no-repeat center right 2px;
 color: #4069be;
 font-size: 10px;
 font-weight: 600;
 text-transform: uppercase;
 letter-spacing: 1.2px;
 padding-right: 70px;
 transition: 0.5s;
 cursor: pointer;
 &:hover {
  background-position: center right;
 }
}