.fixed-aside {
 width: 50px;
 height: 100vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 position: absolute;
 top: 100vh;
 left: 60px;
 z-index: 9;
 @include tablet-mobile {
  display: none;
 }

 &.fixed-aside--scroll {
  position: fixed;
  top: 0;
 }
}

.message-us {
 width: 50px;
 height: 60px;
 border-radius: 4px;
 border: 1px solid #4069be;
 background: url(../img/common/message-icon.png) no-repeat center, transparent;
 transition: 0.5s;
 cursor: pointer;
 &:hover {
  background: url(../img/common/message-icon-hover.png) no-repeat center, #4069be;
 }
}

.discuss-order {
 width: 50px;
 height: 168px;
 border-radius: 4px;
 border: 1px solid #4069be;
 margin-top: 5px;
 position: relative;
 cursor: pointer;
 transition: 0.5s;
 &:hover {
  background: #4069be;

  .discuss-order__text {
   color: #fff;
  }
 }

 .discuss-order__text {
  width: 168px;
  height: 50px;
  color: #4069be;
  font-size: 10px;
  font-weight: 600;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 0;
  transform-origin: 0 0;
  transform: rotate(-90deg);
  transition: 0.5s;
 }
}