.main-footer {

 p {
  @extend .main-footer-text;
 }

 .main-footer-copy {
  color: #426bbb;
  font-size: 14px;
  font-weight: 300;
  @include mobile {
   margin-top: 70px;
  }
 }
}

.main-footer-title {
 display: block;
 color: #426bbb;
 font-size: 11px;
 font-weight: 600;
 text-transform: uppercase;
 letter-spacing: 1.32px;
}
.main-footer-text {
 color: #2f261d;
 font-size: 16px;
 font-weight: 300;
}
.main-footer-link {
 color: rgba(47, 38, 29, 0.5);
 font-size: 16px;
 font-weight: 300;
 &:hover {
  color: rgba(47, 38, 29, 1);
 }
}

.main-footer-block-1 {
 border-bottom: 1px solid rgba(0,0,0,0.1);
 padding: 110px 83px 80px;
 @include tablet {
  padding: 110px 30px 80px 70px;
 }
 @include mobile {
  padding: 110px 15px 80px;
 }
}
.main-footer-block-2 {
 padding: 80px 83px 110px;
 @include tablet {
  padding: 80px 30px 110px 70px;
 }
 @include mobile {
  padding: 80px 15px 110px;
 }

 .main-footer-block-2__top, .main-footer-block-2__bottom {
  display: flex;
  align-items: flex-start;
  @include mobile {
   flex-direction: column;
  }
 }

 .main-footer-block-2__bottom {
  justify-content: space-between;
  margin-top: 70px;
  @include mobile {
   align-items: center;
  }
 }
}

.main-footer-offices {
 @extend .hidden-scroll;
 display: flex;
 align-items: flex-start;
 margin-top: 55px;
 @include mobile {
  width: 290px;
  overflow-x: auto;
 }

 .main-footer-offices__item {
  margin-right: 110px;

  p {
   margin-bottom: 10px;
   @include mobile {
    width: 125px;
   }
  }
 }
}

.main-footer-list-block {
 margin-right: 175px;
 @include tablet {
  margin-right: 110px;
 }
 @include mobile {
  margin: 0 0 50px;
 }
 &:last-child {
  margin: 0;
 }
}

.main-footer-list-title {
 margin-bottom: 30px;
}

.main-footer-list-layout {
 display: flex;
}

.main-footer-list {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 margin-right: 75px;
 @include mobile {
  margin-right: 50px;
 }
 &:first-child {
  @include mobile {
   width: 140px;
  }
 }
 &:last-child {
  margin-right: 0;
 }

 .main-footer-list__item {
  display: block;
  color: rgba(47, 38, 29, 0.5);
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 15px;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  &:before {
   content: '';
   width: 100%;
   height: 1px;
   background: #ffc830;
   position: absolute;
   bottom: 0;
   left: -100%;
   transition: 0.5s;
  }
  &:hover {
   color: rgba(47, 38, 29, 1);
   &:before {
    left: 0;
   }
  }
  &:last-child {
   margin-bottom: 0;
  }
 }
}