.section.main-header-layout {
 width: 100%;
 position: absolute;
 bottom: 0;
 //top: 0;
 left: 0;
 z-index: 100;
 transition: 0.7s;
 opacity: 0;
 @include tablet-mobile {
  height: 60px;
  background: #fff;
  position: fixed;
  bottom: auto;
  top: 0;
  left: 0;
 }
 @include mobile {
  overflow: auto;
 }
 &:after {
  content: '';
  width: 100%;
  height: 1px;
  display: none;
  background: rgba(47, 38, 29, 0.05);
  position: absolute;
  top: 59px;
  left: 0;
  @include tablet-mobile {
   display: block;
  }
 }

 .main-content {
  @include tablet-mobile {
   margin: 0 auto;
  }
  @include tablet {
   width: 768px;
  }
 }

 &.main-header-layout--active, &.main-header-layout--active.main-header-layout--min {
  height: 100vh;
  background: #fff;
  transition: none;

  .main-header {
   height: 60px;
   @include mobile {
    height: auto;
    padding-bottom: 240px;
   }
  }

  .main-header-row-2, .main-header-row-3 {
   visibility: visible;
   opacity: 1;
   transform: scale(1);
   position: relative;
   transition: 0.7s;
   transition-delay: 0.5s;
  }
  .main-header-row-2 {
   @include tablet-mobile {
    display: block;
   }
  }

  .main-header-row-1 {

   .main-header-row-1__langs {
    @include mobile {
     display: flex;
    }
   }

   .main-header-submit, .main-header-row-1__phone {
    @include mobile {
     display: block;
    }
   }
  }
 }

 &.main-header-layout--min {
  height: 60px;
  position: fixed;
  top: -60px;
  right: 0;
  @include tablet-mobile {
   height: auto;
   top: 0;
  }

  .main-header-menu-1, .main-header-menu-1 > ul {

   .main-header-menu-1__item, .page_item, > .menu-item {

    .main-header-menu-1__item-submenu, .sub-menu {
     display: flex;
     bottom: auto;
     top: 100%;
     @include mobile {
      display: none;
     }
    }
   }
  }

  @include desktop {

   .main-header-row-1 {
    min-height: 60px;
    border-bottom: 1px solid rgba(16, 73, 130, 0.1);
    padding: 0 55px 0 85px;

    .main-header-row-1__logo {
     margin-right: 58px;
    }

    .main-header-row-1__lang {
     margin-right: 35px;
    }
   }

   .main-header-row-2 {
    //display: none;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.97);
    position: absolute;
    padding: 0;
    //margin-top: 100px;
    top: 100px;
    @include mobile {
     top: auto;
     margin-top: 100px;
    }

    .main-header-submit {
     display: none;
    }
   }

   .main-header-menu-1 {
    justify-content: center;
   }

   .main-header-row-3 {
    display: none;
    border: none;
    padding: 0 100px;
    margin-top: 65px;
   }

   .main-header-menu-2 {
    align-items: flex-start;
    justify-content: center;
   }

   .main-header-menu-2__item {

    .main-header-menu-2__item-link {
     padding: 16px 20px;
    }

    &.main-header-menu-2__item--submenu {
     &:after {
      top: 26px;
      right: 10px;
     }
    }
   }

   .main-header-menu-2-submenu {
    border-top: 1px solid #fff;
    padding: 15px 20px 30px;
    position: static;
   }

   .header-burger {
    display: block;
   }
  }

  &.main-header-layout--min-showed {
   top: 0px;
   transition: 0.7s;
  }
 }
}

.main-header {
 background: #fff;
 position: relative;
 @include mobile {
  height: auto;
 }
}

.main-header-row {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.main-header-row-1 {
 border-bottom: 1px solid rgba(47, 38, 29, 0.05);
 padding: 30px 56px 23px 83px;
 @include tablet {
  padding: 0 0 0 30px;
 }
 @include mobile {
  padding: 21px 0;
 }

 .main-header-row-1__logo {
  margin-right: 113px;
  transition: none;
  @include tablet {
   margin-right: 58px;
  }
 }

 .main-header-row-1__langs {
  flex: 1;
  display: flex;
  align-items: center;
  @include mobile {
   display: none;
   width: 100%;
   justify-content: center;
   position: absolute;
   top: 100px;
   left: 0;
  }
 }

 .main-header-row-1__lang, .lang-item a {
  color: #2f261d;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.32px;
  position: relative;
  transition: none;
 }

 .main-header-row-1__lang, .lang-item {
  margin-right: 40px;
  @include tablet {
   margin-right: 35px;
  }
  &:last-child {
   margin-right: 0;
  }
 }

 .main-header-row-1__lang.main-header-row-1__lang--active, .lang-item.current-lang a {
  &:before {
   content: '';
   width: 100%;
   height: 1px;
   background: #ffc830;
   position: absolute;
   bottom: -3px;
   left: 0;
  }
 }

 .main-header-row-1__phone {
  color: #2f261d;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.32px;
  @include mobile {
   display: none;
   width: 100%;
   text-align: center;
   position: absolute;
   bottom: 180px;
   left: 0;
  }
 }

 .main-header-submit {
  display: none;
  @include tablet {
   display: block;
   padding: 24px 30px;
   margin-left: 33px;
  }
  @include mobile {
   width: 260px;
   border-radius: 4px;
   position: absolute;
   bottom: 100px;
   left: calc(50% - 130px);
  }
 }
}

.main-header-row-2 {
 padding: 0 0 0 83px;
 position: relative;
 @include tablet-mobile {
  display: none;
  padding: 0;
 }
 @include tablet {
  margin-top: 100px;
 }
 @include mobile {
  margin-top: 120px;
 }

 .main-header-submit {
  @include tablet-mobile {
   display: none;
  }
 }
}

.main-header-menu-1, .main-header-menu-1 > ul {
 flex: 1;
 display: flex;
 align-items: center;
 @include tablet-mobile {
  justify-content: center;
 }
 @include mobile {
  flex-direction: column;
 }

 .main-header-menu-1__item, > .page_item, > .menu-item {
  color: #4069be;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.32px;
  padding: 22px 0 23px;
  margin-right: 40px;
  transition: 0.5s;
  @include mobile {
   margin: 0 0 25px;
  }
  &:hover {

   > a {
    opacity: 0.5;
   }

   .main-header-menu-1__item-submenu, .sub-menu {
    display: flex;
    @include mobile {
     display: none;
    }
   }
  }
  &:last-child {
   margin: 0;
  }

  > a {
   color: #4069be;
   font-size: 11px;
   font-weight: 600;
   text-transform: uppercase;
   letter-spacing: 1.32px;
  }

  &.main-header-menu-1__item--submenu, &.menu-item-has-children {
   display: flex;
   align-items: center;
   &:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 2px 0 2px;
    border-color: #4069be transparent transparent transparent;
    margin-left: 15px;
    @include tablet-mobile {
     display: none;
    }
   }
  }

  .main-header-menu-1__item-submenu, .sub-menu {
   width: 100%;
   max-height: 273px;
   display: none;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   background: #f0f2ff;
   padding: 65px 82px 40px;
   position: absolute;
   bottom: 100%;
   left: 0;
   z-index: 10;
   transition: 0.5s;

   .main-header-menu-1__item-submenu-item, > .menu-item {
    width: 250px;
    margin-bottom: 26px;

    &, & > a{
     display: block;
     font-weight: 400;
     color: rgba(47, 38, 29, 0.7);
     font-family: FuturaPTBook, sans-serif;
     font-size: 16px;
     line-height: 16px;
     text-transform: none;
     letter-spacing: normal;
     &:hover {
      color: #4069be;
     }
    }
   }
  }
 }

 .page_item {

  a {
   display: block;
  }
 }
}

.main-header-submit {
 border-radius: 0;
 padding: 23px 50px;
}

.main-header-row-3 {
 //display: none;
 visibility: hidden;
 opacity: 0;
 transform: scale(0.97);
 position: absolute;
 border-top: 1px solid rgba(47, 38, 29, 0.05);
 border-bottom: 1px solid rgba(47, 38, 29, 0.05);
 padding: 0 45px;
 @include tablet-mobile {
  display: none;
  border: none;
 }
 @include tablet {
  padding: 0 100px;
  margin-top: 65px;
 }
 @include mobile {
  margin: 50px 0 0;
  //padding: 0 0 160px;
 }
}

.main-header-menu-2 {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 @include tablet-mobile {
  align-items: flex-start;
  justify-content: center;
 }
 @include mobile {
  flex-direction: column;
 }

 .main-header-menu-2__item {
  text-align: center;
  transition: 0.7s;
  @include mobile {
   width: 100%;
  }
  &:hover {
   background: #f0f2ff;
  }

  .main-header-menu-2__item-link {
   display: block;
   height: 100%;
   font-family: FuturaPTBook, sans-serif;
   color: rgba(47, 38, 29, 0.7);
   font-size: 16px;
   font-weight: 100;
   padding: 25px 35px;
   transition: 0.7s;
   @include tablet {
    padding: 16px 20px;
   }
   @include mobile {
    padding: 12px 20px;
   }
   &:hover {
    color: #4069be;
   }
  }

  &.main-header-menu-2__item--submenu {
   position: relative;
   //overflow: hidden;
   &:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px 2px 0 2px;
    border-color: rgba(47, 38, 29, 0.7) transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 20px;
    transition: 0.7s;
    @include tablet {
     top: 26px;
     right: 10px;
    }
    @include mobile {
     top: 23px;
     right: 60px;
    }
   }

   &:hover {
    //overflow: initial;
    &:after {
     border-color: #4069be transparent transparent transparent;
     transform: rotate(180deg);
    }

    .main-header-menu-2-submenu {
     opacity: 1;
     z-index: 2;
    }
   }
  }
 }
}

.main-header-menu-2-submenu {
 width: 100%;
 background: #f0f2ff;
 padding: 15px 38px 30px;
 position: absolute;
 top: 71px;
 left: 0;
 opacity: 0;
 z-index: -1;
 transition: 0.7s;
 @include tablet-mobile {
  display: none;
  border-top: 1px solid #fff;
  padding: 15px 20px 30px;
  position: static;
  opacity: 1;
 }
 //@include tablet {
 // top: 53px;
 //}
 //@include mobile {
 // top: 45px;
 //}

 .main-header-menu-2-submenu__item {
  display: block;
  font-family: FuturaPTBook, sans-serif;
  color: rgba(47, 38, 29, 0.7);
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 10px;
  &:last-child {
   margin-bottom: 0;
  }
  &:hover {
   color: #4069be;
  }
 }
}

.header-burger {
 width: 24px;
 height: 9px;
 display: none;
 position: absolute;
 left: calc(50% - 32px);
 top: 25px;
 z-index: 5;
 cursor: pointer;
 @include tablet-mobile {
  display: block;
 }
 @include mobile {
  left: auto;
  right: 0;
 }

 .header-burger__item {
  width: 100%;
  height: 2px;
  background: #4069be;
  margin-bottom: 5px;
  position: relative;
  top: 0;
  transition: 0.3s;
  &:last-child {
   margin-bottom: 0;
  }
 }

 &.header-burger--active {

  .header-burger__item {
   &:first-child {
    transform: rotate(-15deg);
    top: 3px;
   }
   &:last-child {
    transform: rotate(15deg);
    top: -4px;
   }
  }
 }
}