.slick-slider {

 &.slick-slider--arrow-blue {

  .slick-arrow {

   &.slick-prev {
    background-image: url(../img/common/arrow-left-blue.svg);
    &:hover {
     background-image: url(../img/common/arrow-left-black.svg);
    }
   }
   &.slick-next {
    background-image: url(../img/common/arrow-right-blue.svg);
    &:hover {
     background-image: url(../img/common/arrow-right-black.svg);
    }
   }
  }
 }
}

.slick-slide {
 outline: none;
}

.slick-arrow {
 width: 18px;
 height: 6px;
 background: no-repeat center / contain;
 font-size: 0;
 position: absolute;
 cursor: pointer;
 outline: none;
 transition: 0.5s;

 &.slick-prev {
  background-image: url(../img/common/arrow-left-white.svg);
  &:hover {
   background-image: url(../img/common/arrow-left-black.svg);
  }
 }
 &.slick-next {
  background-image: url(../img/common/arrow-right-white.svg);
  &:hover {
   background-image: url(../img/common/arrow-right-black.svg);
  }
 }
}